<div style="background-color: #333333 ;width:100%;height: 100%;color:green;text-align: center;">
<h1>Привіт , Ваша камера розпізнала нову особу , для перегляду перейдіть на сайт https://mysmarthomeapp.herokuapp.com </h1>
</div>
