.table tr td{

  color:white;
font-size: 20px;
}
.c{
	margin-left:20px;
	color:blue;
}
.table{
	color:white;
	text-shadow: 2px 2px blue;
  
}
#list li{
	margin: 5px;
}
#list{
	border-radius: 10px;
	list-style: none;
	color :black;
	background-color: lightblue;
	float:left;
	text-align: left;
	font-size: 20px;
	font-family: Verdana;
	color:black;
	margin: 5px;
	border-style: outset;
	border-width: 10px;
	border-color: blue;
}
.table tr td{

  color:white;
}
.navbar{
	margin:0px;
}
.menu{
	color:white;
}
#setparam{
	width:150px;
}
#user{
  color:green;
}
#page-content-wrapper{
	text-align: center;
background-color: #333333;
	height: 200%;
	color:white;
}
#page{
background-color: #333333 ;
color:white;
}
.table{
	width: 20%;
	margin-left: 5%;
	text-align: center;
}
.btn{
	margin :2px;
}
#map{
	border-radius: 15px;

}
.content{
color:white;
	height: 100%;
}
.field{
	color:black;

}
.actions{
	color:black;
}