.table tr th{

  color:white;
}
table tr td{

  color:white;
}
.navbar{
	margin:0px;
}
.menu{
	color:white;
}

#user{
  color:green;
}
#page-content-wrapper{
	text-align: center;
background-color: #333333;
	height: 200%;
	color:white;
}
.page{
background-color: #333333;
text-align: center;
}
.table{
	width: 20%;
	margin-left: 5%;
	text-align: center;
}
.btn{
	width:170px;
	margin :2px;
}