.table li a{
  display: block;
  color:white;
}
.c{
	margin-left:20px;
	color:blue;
}
.table{
	color:white;
}
#list li{
	margin: 5px;
}
#list{
	border-radius: 10px;
	list-style: none;
	color :black;
	background-color: yellow;
	float:left;
	text-align: left;
	font-size: 20px;
	font-family: Verdana;
	color:black;
}
.table tr td{

  color:white;
}
.navbar{
	margin:0px;
}
.menu{
	color:white;
}

#user{
  color:green;
}
#page-content-wrapper{
	text-align: center;
background-color: #333333;
	height: 200%;
	color:white;
}
#page{
background-color: #333333 ;
color:white;
}
.table{
	width: 20%;
	margin-left: 5%;
	text-align: center;
}
.btn{
	width:170px;
	margin :2px;
}